<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}"">
		{{#if devoured}}MAKE AGAIN!{{else}}DEVOUR IT!{{/if}}
	</button>

	<button class=" delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>